<html>
<head>
<title>E-Shopping</title>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{assets/css/Home.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>

	<!-- navbar serciton -->
	<nav class=" 
	  nav-custom  ">
		<div class="container nav-custom-container">
			<a th:href="@{/}" class="nav-link logo"> <span
				class="logo-eshop ">E-SHOP</span>
			</a>
			<div class="search">
				<form class="form-inline navbar-search-bar">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn search-btn " type="submit"
						style="outline: none;">
						<span class="material-symbols-outlined"> search </span>
					</button>
				</form>
			</div>
			<div class=" nav-right-bnts">
				<ul class="navbar-right">
					<li class="navbar-item"><a href="#"
						style="display: flex; align-items: center;"> <span
							class="material-symbols-outlined"> login </span> <span
							class="btn-name"> Login </span>
					</a></li>
					<li class="navbar-item"><a href="#"
						style="display: flex; align-items: center;"> <span
							class="material-symbols-outlined"> how_to_reg </span> <span
							class="btn-name"> Sign Up </span>
					</a></li>
					<li class="navbar-item"><a href="#"
						style="display: flex; align-items: center;"> <span
							class="material-symbols-outlined"> shopping_cart </span> <span
							class="btn-name"> Cart </span>
					</a></li>

				</ul>
			</div>
		</div>
	</nav>

	<!-- navbar end -->

	<!-- main section -->

	<section class="main">
		<div class="row" style="margin-left: 0; margin-right: 0;">
			<div class="col-md-2 col-lg-2  filter-section">filter section</div>
			<div class="col-md-10 col-lg-10 col-sm-12 product-serciton row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="row">
						<div class="container advertisement-img">
							<img th:src="@{assets/img/coverphoto.jpg}"
								alt="image not loading" />
						</div>
					</div>
					<div class="row show-card-items">
						<div class="card-item">
							<h4>Name: computers</h4>
							<img th:src="@{assets/img/prd1.jpg}" alt="img not loading" />
							<p>The price : $100</p>
						</div>
						<div class="card-item">
							<h4>Name: computers</h4>
							<img th:src="@{assets/img/prd1.jpg}" alt="img not loading" />
							<p>The price : $100</p>
						</div>
						<div class="card-item">
							<h4>Name: computers</h4>
							<img th:src="@{assets/img/prd1.jpg}" alt="img not loading" />
							<p>The price : $100</p>
						</div>
						<div class="card-item">
							<h4>Name: computers</h4>
							<img th:src="@{assets/img/prd1.jpg}" alt="img not loading" />
							<p>The price : $100</p>
						</div>
						<div class="card-item">
							<h4>Name: computers</h4>
							<img th:src="@{assets/img/prd1.jpg}" alt="img not loading" />
							<p>The price : $100</p>
						</div>
						<div class="card-item">
							<h4>Name: computers</h4>
							<img th:src="@{assets/img/prd1.jpg}" alt="img not loading" />
							<p>The price : $100</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- end main seciton -->




	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>